<div class="container brand">
  <h3>{{ site.title }}</h3>
  <h4>{{ site.subtitle }}</h4>
</div>

<div class="container">
  <nav class="navbar navbar-defualt">
    <ul class="nav navbar-nav">
      {% if page.url == "/" %}
        <li class="active">
          <a href="/">Home</a>
        </li>
      {% else %}
        <li>
          <a href="/">Home</a>
        </li>
      {% endif %}

      {% assign sorted_pages = site.pages | sort: "order" %}
      {% for nav_page in sorted_pages %}
        {% if nav_page.title %}
          {% if page.url == nav_page.url %}
            <li class="active">
              <a href="{{ nav_page.url | prepend: site.baseurl }}">{{ nav_page.title }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ nav_page.url | prepend: site.baseurl }}">{{ nav_page.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
