body {
  background: url('/static/img/bg.png');
  padding-top: 140px;
  font-family: $base-font-family;
}

.brand {
  text-align: center;

  h3 {
    font-size: 28px;
    text-transform: uppercase;
  }

  h4 {
    font-family: $alt-font-family;
    font-style: italic;
  }
}

.navbar {
  background: white;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
}

.navbar-nav {
  float: none;
  display: inline-block;

  li {
    text-transform: uppercase;
    width: 10em;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: black;
  color: white;
}

main {
  background: white;
  margin: 3em 6em 0;
  padding: 1em 3em;
}
